# Folders
.git
.github
.storybook
.svelte-kit
.vscode
build
coverage
deploy
dist
docs
node_modules
secrets
test-results

# Files
.dockerignore
.editorconfig
.env.*.local
.env.local
.gitignore
.markdownlint-cli2.yaml
.markdownlint.yaml
.prettierignore
.prettierrc.yaml
*.log
*.md
*.test.ts
*.tsbuildinfo
*.txt
bun.lockb
CONTRIBUTING.md
dockerfile
eslint.config.ts
natoboram-goodenough-*.tgz
package-lock.json
playwright.config.ts
tsconfig.eslint.json
typedoc.json
vitest.config.ts
yarn.lock
